.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid{
    display: grid;
    border: 1px solid black;
    max-width: 300px;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.cell {
    border-color: transparent;
    border: 1px solid black;
    height: 0;
    padding-bottom: 100%;
}
.cell-activated{
    background-color: green;
}