body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 26px;
    margin-bottom: 24px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    /* background-color: rgb(248, 246, 246); */
  }
  .user-input {
    border: 2px grey;
    padding: 2px 1px 2px 1px;
  }
  .input-parent {
    margin-bottom: 16px;
  }
  .input-label {
    margin-right: 8px;
  }
  .board {
    display: grid;
    margin-bottom: 16px;
    gap: 8px;
  }
  
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all;
    animation-duration: 300ms;
    background: rgb(226, 223, 223);
    color: rgb(190, 187, 187);
  }
  .flipped-card {
    background: rgb(50, 152, 248);
    color: white;
  }
  .not-Flipped {
    background: rgb(211, 207, 207);
    color: rgb(190, 187, 187);
  }
  .solved-card {
    background: rgb(4, 175, 70);
    color: white;
  }
  .winner-message {
    margin-top: 16px;
    color: rgb(4, 175, 70);
    animation: bounce 1s ease-in-out infinite;
    font-size: xx-large;
  }
  
  .reset-btn {
    margin-top: 16px;
    padding: 8px 16px;
    background: rgb(4, 175, 70);
    color: white;
    border-radius: 0.2rem;
  }
  