@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

body,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: normal;
}